@import "tailwindcss";

@theme {
  --color-zarewa-teal: #004D40;
  --color-zarewa-mint: #2ECC71;
  --color-sequence-bg: #F9FAFB;
  --shadow-sequence: 0 4px 20px rgba(0, 0, 0, 0.03);
  --radius-zarewa: 24px;
}

body {
  margin: 0;
  background-color: var(--color-sequence-bg);
  font-family: 'Inter', sans-serif;
}